
server:
  port: 8761

spring:
  main:
    allow-bean-definition-overriding: true
  application:
    name: gateway-service

eureka:
  instance:
    hostname: localhost
  client:
    fetch-registry: false
    register-with-eureka: false
    service-url:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/

